@model ViewModels.AdminViewModel.Admin.Vm_info
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0 text-center alert alert-warning"> شارژ به کیف پول</h2>
		<hr>
		<div class="card-body">
			<div class="row">
				<div class="table-responsive">
					<div class="form-group justify-content-center ">
						<div class="row ">
							<div class="col-6">
								<input type="number" id="pay25" class="form-control "
									placeholder="لطفا مبلغ شارژ را وارد کنید" required>
							</div>
							<div class="col-6">
								<button onclick="sendpay();" class="btn btn-success  mt-1 mb-1"
									style="width: min-content;"> پرداخت
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="data-list-view" class="data-list-view-header">
			<div class="table-responsive">
				<table class="table data-list-view">
					<thead class="bg-primary">
						<tr>
							<th> ردیف: </th>
							<th> مبلغ پرداخت: </th>
							<th> مبلغ برداشت :</th>
							<th> تاریخ :</th>
							<th> وضعیت :</th>
							<th> جزئیات : </th>
						</tr>
					</thead>
					<tbody class="bg-white">
						@if (ViewBag.list2 != null)
						{
							int i = 1;
							@foreach (var item in ViewBag.list2)
							{
								<tr>
									<td>@i</td>
									<td>@item.Pay</td>
									<td>@item.Harvest</td>
									<td>@item.DateTime</td>
									@if (@item.RequestId == 0)
									{
										<td>واریز مستقیم</td>
									}
									else
									{
										<td> استعلام . پرداخت </td>
									}
									<th><a class="btn btn-outline-danger btn-sm" href="~/Admin/Wallet/Detail/@item.RequestId"
									role="button">جزئیات</a>
									</th>
								</tr>
								i++;
							}
						}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

<script>
	document.getElementById("pay").innerText = document.getElementById("pay").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
</script>
<script>
	function sendpay() {

		var a = parseInt(document.getElementById('pay25').value);
		if (a < 2000000) {
			alert("مبلغ شارژ کیف پول نمی تواند کمتر از 2  میلیون تومان باشد");
		}



		else if (document.getElementById('pay25').value != "") {
			window.location.href = "/Admin/pay/index/" + document.getElementById('pay25').value;
		}

	}
</script>