<div class="card shadow" id="myDiv">
    <div class="card-header">
        <h2 class="mb-0"> نمایش گردش حساب </h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <div class="form-group justify-content-center text-center">
                        <table class="table table-hover">
                            <thead class="bg-primary ">
                                <tr>
                                    <th>ردیف</th>
                                    <th>شرح تراکنش</th>
                                    <th>کد شعبه</th>
                                    <th>تاریخ</th>
                                    <th>زمان</th>
                                    <th>مبلغ واریز</th>
                                    <th>مبلغ برداشت</th>
                                    <th>مانده</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                @{
                                    if (ViewBag.result != null)
                                    {
                                        int i=1;
                                        foreach (var item in ViewBag.result)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.TransactionDescription</td>
                                                <td>@item.BranchNo</td>
                                                <td>@item.Date</td>
                                                <td>@item.Time</td>
                                                <td>@item.TransactionAmountCredit</td>
                                                <td>@item.TransactionAmountDebit</td>
                                                <td>@item.Balance</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end ">
                <a onclick="print();" class="btn btn-success mt-1 mb-1" style="width: min-content;"> چاپ
                </a>
                <a href="~/Admin/" class="btn btn-success mt-1 mb-1" style="width: min-content;">
                    بازگشت
                </a>
            </div>
        </div>
    </div>
</div>



<script>
    function print() {
        var printContents = document.getElementById('myDiv').innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>